<div nxLayout="grid" class="docs-grid-colored-grid">
    <nx-spinner nxSize="large" *ngIf="spin"></nx-spinner>
    <div nxRow nxRowJustify="start,start,around">
        <div nxCol="4,3" class="docs-grid-colored-col" *ngFor="let item of collection">
            <nx-card class="nx-margin-bottom-2m">
                <div class="img" *ngIf="item.image_id;else other_link">
                    <img src="https://www.artic.edu/iiif/2/{{item.image_id}}/full/843,/0/default.jpg" />
                </div>
                <ng-template #other_link>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/32/Art_Institute_of_Chicago_logo.svg" />
                </ng-template>
                <h2>{{item.title}}</h2>
                <h3>{{item.artist_title}}</h3>
                <p>{{item.place_of_origin}} ({{item.date_start}} - {{item.date_end}} )</p>
            </nx-card>
            <br>
        </div>
    </div>
    </div>