<h1 nxHeadline="section">Artwork Collection</h1>
<br><br>

<!-- <div nxLayout="grid" class="docs-grid-colored-grid" >
    <nx-spinner nxSize="large" *ngIf="spin"></nx-spinner>
    <div nxRow>
        <div nxCol="3" class="docs-grid-colored-col" *ngFor="let item of collection"> 
            {{item.title}} 
        </div> 
    </div>
</div> -->

<app-art-grid [spin]="spin" [collection]="collection"></app-art-grid>

<br><br>

<app-pagination [count]="count" [page]="page" [perPage]="perPage" (pagerEvent)="goToPage($event)"></app-pagination>
<!-- <nx-pagination
    [nxCount]="count"
    nxType="advanced"
    [nxPage]="page"
    [nxPerPage]="perPage"
    (nxGoPrev)="prevPage()"
    (nxGoNext)="nextPage()"
    (nxGoPage)="goToPage($event)"
>
</nx-pagination> -->

